.aws-content {
	max-width: 800px;
}

.aws-updated {
	background-color: #ffffe0;
	border: 1px solid #e6db55;
	border-radius: 3px;
	padding: 0 0.6em;
	color: #333;

	p {
		margin: 0.5em 0;
		padding: 2px;
	}
}

.addon {
	margin-top: 10px;

	h1 {
		font-size: 14px;
		margin: 0;
	}
}
